<section class="wrapper">
  <div class="container">
    <div id="scene" class="scene" data-hover-only="false">
      <div class="circle" data-depth="1.2"></div>

      <div class="one" data-depth="0.9">
        <div class="content">
          <span class="piece"></span>
          <span class="piece"></span>
          <span class="piece"></span>
        </div>
      </div>

      <p class="p404" data-depth="0.50">404</p>
      <p class="p404" data-depth="0.10">404</p>
    </div>
    <div
      class="container d-flex flex-column justify-content-end align-items-center vh-100"
    >
      <p>Sorry</p>
      <p>Page not found !</p>
      <button class="btn btn-warning mb-3" style="z-index: 3">
        <a
          href=""
          style="text-decoration: none; color: black"
          routerLink="/home"
          >Go to Home</a
        >
      </button>
    </div>
  </div>
</section>
