<div
  class="container-fluid my-5 d-flex justify-content-center align-items-center"
>
  <div
    class="py-5 mx-2 about-father d-flex flex-column justify-content-center align-items-center"
  >
    <img src="../../assets/pngwing.com.png" class="w-100" alt="" srcset="" />
    <span>
      The our website movie and TV, Every piece of data has been added by our
      amazing community.international focus and breadth of data is largely
      unmatched and something we're incredibly proud of. Put simply, we live and
      breathe community and that's precisely what makes us different.
    </span>
    <p>
      Every piece of data has been added by our amazing community dating back to
      2008. TMDb's strong international focus and breadth of data is largely
      unmatched and something we're incredibly proud of. Put simply, we live and
      breathe community and that's precisely what makes us different.
    </p>
  </div>
  <!-- stars style -->
  <div class="stars">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
