<div class="container w-100 my-5">
  <div class="container w-100 py-5">
    <h1 style="font-weight: bolder" class="py-5">Login Now</h1>
    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
    <form [formGroup]="loginForms" (ngSubmit)="loginforms(loginForms)">
      <div>
        <label for="email" class="py-2">Email :</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          name=""
          id="email"
          style="font-weight: bolder; color: darkviolet"
        />
        <div
          class="alert alert-danger py-0"
          *ngIf="
            loginForms.get('email')?.errors != null &&
            loginForms.get('email')?.touched
          "
        >
          <p *ngIf="loginForms.get('email')?.errors?.required">
            Email is required
          </p>
          <p *ngIf="loginForms.get('email')?.errors">
            Email shoud example@.....com
          </p>
        </div>
      </div>
      <div>
        <label for="passWord" class="py-2">PassWord :</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          name=""
          id="passWord"
          style="font-weight: bolder; color: darkviolet"
        />
        <div
          *ngIf="
            loginForms.get('password')?.errors != null &&
            loginForms.get('password')?.touched
          "
          class="alert alert-danger py-0"
        >
          <p *ngIf="loginForms.get('password')?.errors?.required">
            Password is required
          </p>
          <p *ngIf="loginForms.get('password')?.errors?.pattern">
            Password should start with capital letter and max char is 16
          </p>
        </div>
      </div>
      <p class="mt-5">
        you don't have an account yet?
        <a routerLink="/register"> sign up here</a>
      </p>
      <button type="submit" [disabled]="loginForms.invalid" class="btn my-3">
        Login
      </button>
    </form>

    <div class="stars">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
