<div class="container w-100 mx-auto pt-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4">
        <img [src]="imagePath + details.poster_path" class="w-100" alt="" />
      </div>

      <div class="col-md-2"></div>
      <div class="px-5 col-md-6 my-auto">
        <div class="line my-5 w-25"></div>
        <h1>{{ details.name }}</h1>
        <p class="py-5">{{ details.overview }}</p>
        <p>Rate:</p>
        <h2>. . .{{ details.vote_average }}. . .</h2>
        <div class="line my-5 w-100"></div>
      </div>
    </div>
    <div class="stars">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
